.project
*.prefs
.classpath
.springBeans
.settings
target/
tmp
.idea/
*.iml
*.avro
cleansed_prod_dictionary.txt
*.ipr
*.iws
*.bin
project/
.gradle/
out/
.metadata
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
db-migration/
contiperf-report/
bin/
build/
*/src/generated/
export.sql
.DS_Store
node_modules/
npm-debug.log
*.map
*.patch
